/* Custom styling for your webapp */

body {
  font: 10px sans-serif;
}

/*
.chord {
  fill-opacity: .67;
}
*/


#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}
